body {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  height: 45px;
}
.metro .page {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.description {
  margin: 10px 0;
}
.show-grid .row [class*="span"] {
  line-height: 40px;
  background: rgba(193, 179, 123, 0.52);
  text-align: center;
  min-height: 10px !important;
}
.color-stack li,
#icon-list li {
  margin-bottom: 5px;
}

#logueo {
    width: 500px;
    margin: auto !important;
}
.example > img {
  margin: 5px;
  display: inline-block;
}
.example .image-container {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}
.example  input[type="submit"] {
    width: 100%;
}
.myClass thead tr {
  background-color: #1ba1e2;
  color: #ffffff;
}
.layout {
  min-height: 100%;
  position: relative;
}
header {
  height: 45px;
  position: relative;
}
.introduce {
  height: 170px;
}
.introduce_r {
  height: 75px;
}
.download_link {
  background: #c75050 !important;
}
.download_link:hover {
  background: #e04343 !important;
}
.download_link:active {
  background: #b01919 !important;
}
.footer_spacer {
  height: 40px;
}
footer {
  width: 100%;
  height: 25px;
}
::-webkit-scrollbar 
{
    width: 12px;    
}
::-webkit-scrollbar-button
{       
    background: #3F3C3C;
    height: 23px;  
}
::-webkit-scrollbar-button:hover
{
    background-color: rgb(9, 163, 9);   
}    
::-webkit-scrollbar-track 
{
    background-color: #D8D8D8;
}
 ::-webkit-scrollbar-track-piece 
{
    background-color: #D8D8D8;
}   
::-webkit-scrollbar-thumb 
{       
    background:  #3F3C3C;
    height: 50px;
}
::-webkit-scrollbar-thumb:hover 
{       
    background: #16499a;    
}

::selection {
background: #2E62B4;
color: #fff;
text-shadow: none;
}

.div-agregar_correo {
    margin-bottom: 5px;
}

._ip {
    width: 48px !important;
}

span.margen_22px{margin: 0 44px;}
span.margen_17px{margin: 0 34px;}

div.input-control.select.span2.margen-number, div.input-control.text.span2.margen-number, div.input-control.text.span1.margen-number {margin-left: 10px !important;}
div.input-control.text.span2.margen-number.fecha_div{width: 100px !important}
div.input-control.text.span1.margen-number.hour_div{width: 80px !important}

.margen-number {
    margin-left: 5px;
    background: transparent;
}

#separador-prefijo{
    padding: 0 !important; 
    margin: 0 !important;
}

/*#pp {
    margin-bottom: 30px;
}*/

.separador-vertical {
    clear: left;
    padding: 5px 0;
}

ul#base-submenu.dropdown-menu li span {
    margin-left:30px !important;
    /*font-weight: bold !important;*/
}

div.input-control.select.block strong {
    font-weight: 0 !important;
      
}

.btn-agregar-correo.primary {
    padding: 7px 7px; 
    margin-left: 4px;
}

/***************Gridview*********************/
.grid-view-loading
{
	background:url(loading.gif) no-repeat !important;
}

.grid-view
{
	padding: 15px 0 !important;
}

.grid-view table.items
{
	background: white !important;
	border-collapse: collapse !important;
	width: 100% !important;
	border: 1px #D0E3EF solid !important;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em !important;
	border: 1px white solid !important;
	padding: 0.3em !important;
}

.grid-view table.items th
{
	color: white !important;
	background: url("bg.gif") repeat-x scroll left top white !important;
	background-color: #16499a  !important;
	text-align: center !important;
}

.grid-view table.items th a
{
	color: #EEE !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.grid-view table.items th a:hover
{
	color: #FFF !important;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat !important;
	padding-right: 10px !important;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat !important;
	padding-right: 10px !important;
}

.grid-view table.items tr.even
{
	background: #F8F8F8 !important;
}

.grid-view table.items tr.odd
{
	background: #F8F8F8 !important;
}

.grid-view table.items tr.selected
{
	background: #BCE774 !important;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66 !important;
}

.grid-view table.items tbody tr:hover
{
	background: #E5F1F4 !important;
}

.grid-view .link-column img
{
	border: 0 !important;
}

.grid-view .button-column
{
	text-align: center !important;
	width: 60px !important;
}

.grid-view .button-column img
{
	border: 0 !important;
}

.grid-view .checkbox-column
{
	width: 15px !important;
}

.grid-view .summary
{
	margin: 0 0 5px 0 !important;
	text-align: right !important;
}

.grid-view .pager
{
	margin: 5px 0 0 0 !important;
	text-align: right !important;
}

.grid-view .empty
{
	font-style: italic !important;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100% !important;
	border: 1px solid #ccc !important;
}
/***************Gridview*********************/
